In [1]:
import numpy as np
import pandas as pd

import requests
from bs4 import BeautifulSoup

In [2]:
def get_web_page(url):
    resp = requests.get(url)
    resp.encoding = 'utf-8'
    
    if resp.status_code != 200:
        print('Invalid url:', resp.url)
        return None
    else:
        return resp.text

In [4]:
if __name__ == "__main__":
    for i in range(1,3):
        url='https://www.vgchartz.com/games/games.php?page={}&results=50&name=&console=&keyword=&publisher=&genre=&order=CriticScore&ownership=Both&boxart=Both&banner=Both&showdeleted=&region=All&goty_year=&developer=&direction=DESC&showtotalsales=0&shownasales=0&showpalsales=0&showjapansales=0&showothersales=0&showpublisher=1&showdeveloper=0&showreleasedate=1&showlastupdate=1&showvgchartzscore=1&showcriticscore=1&showuserscore=1&showshipped=1&alphasort=&showmultiplat=No.html'.format(i) 
        rate_df = pd.read_html(url)[7] # 7 refers to the table index of this page
        rate_page = get_web_page(url)
        soup = BeautifulSoup(rate_page, 'html.parser')
        rate_list = soup.find_all('tr')[27:77] # table rows for storing the rates
        
        Game_Name= []
        VGChartz_Score = []
        Critic_Score = []
        User_Score = []

        for data in rate_list:
            row = data.find_all('td', align='center')
            title = data.find('a').string
            Game_Name.append(title)
            VGChartz_Score.append(row[1].text.strip())
            Critic_Score.append(row[2].text.strip())
            User_Score.append(row[3].text.strip())
   
    
        rate_df = pd.DataFrame({
            'Game_Name': Game_Name,
            'VGChartz_Score': VGChartz_Score,
            'Critic_Score': Critic_Score,
            'User_Score': User_Score
        })

In [5]:
outputpath='遊戲評分.xlsx'
rate_df.to_excel(outputpath,index=False,header=False)

In [9]:
rate_df.head()

  Game_Name VGChartz_Score Critic_Score User_Score
0      None            N/A          9.6        N/A
1      None            N/A          9.6        N/A
2      None            N/A          9.6        N/A
3      None            9.3          9.6        9.5
4      None            N/A          9.6        N/A

In [10]:
pd.read_excel('遊戲評分.xlsx')

    Unnamed: 0  N/A  9.6  N/A.1
0          NaN  NaN  9.6    NaN
1          NaN  NaN  9.6    NaN
2          NaN  9.3  9.6    9.5
3          NaN  NaN  9.6    NaN
4          NaN  NaN  9.6    NaN
5          NaN  NaN  9.6    NaN
6          NaN  NaN  9.6    9.0
7          NaN  9.5  9.6    NaN
8          NaN  NaN  9.6    9.5
9          NaN  NaN  9.6    NaN
10         NaN  9.1  9.5    NaN
11         NaN  NaN  9.5    NaN
12         NaN  9.5  9.5    8.9
13         NaN  9.0  9.5    9.0
14         NaN  NaN  9.5    NaN
15         NaN  9.1  9.5   10.0
16         NaN  NaN  9.5    NaN
17         NaN  NaN  9.5    NaN
18         NaN  NaN  9.5    NaN
19         NaN  9.2  9.5    9.6
20         NaN  9.3  9.5    9.6
21         NaN  9.0  9.5    NaN
22         NaN  NaN  9.5    NaN
23         NaN  NaN  9.5    NaN
24         NaN  NaN  9.5    NaN
25         NaN  NaN  9.5    NaN
26         NaN  NaN  9.5    NaN
27         NaN  NaN  9.5    NaN
28         NaN  NaN  9.5    NaN
29         NaN  NaN  9.5    NaN
30         NaN  NaN  9.5    NaN
31         NaN  NaN  9.5    NaN
32         NaN  NaN  9.5    NaN
33         NaN  NaN  9.5    NaN
34         NaN  NaN  9.5    NaN
35         NaN  NaN  9.5    NaN
36         NaN  NaN  9.5    9.5
37         NaN  NaN  9.5    NaN
38         NaN  NaN  9.5    NaN
39         NaN  NaN  9.5    NaN
40         NaN  NaN  9.5    NaN
41         NaN  NaN  9.5    NaN
42         NaN  NaN  9.5    NaN
43         NaN  NaN  9.5    7.0
44         NaN  NaN  9.5    NaN
45         NaN  NaN  9.5    NaN
46         NaN  NaN  9.5    NaN
47         NaN  NaN  9.5    NaN
48         NaN  NaN  9.5    NaN