In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
mydata=np.random.randn(4,3)

In [3]:
mydata

array([[ 0.77863256,  2.87084205,  1.57651499],
       [ 0.4091597 , -1.20317002,  1.71259423],
       [-0.48705924, -0.80011996, -0.54524776],
       [ 1.45040936, -1.9667535 ,  0.06908346]])

In [4]:
list("ABCDE")

['A', 'B', 'C', 'D', 'E']

In [5]:
list("甲乙丙丁戊")

['甲', '乙', '丙', '丁', '戊']

In [7]:
df1=pd.DataFrame(mydata,columns=list("ABC"))

In [8]:
df1

          A         B         C
0  0.778633  2.870842  1.576515
1  0.409160 -1.203170  1.712594
2 -0.487059 -0.800120 -0.545248
3  1.450409 -1.966754  0.069083

In [10]:
df2=pd.DataFrame(np.random.randn(3,3),columns=list("ABC"))

In [11]:
df2

          A         B         C
0 -0.425762  1.645549 -0.807169
1  0.256181 -0.105051 -0.701045
2 -1.466343  0.159097  0.453279

In [12]:
df3=pd.concat([df1,df2],axis=0)

In [13]:
df3

          A         B         C
0  0.778633  2.870842  1.576515
1  0.409160 -1.203170  1.712594
2 -0.487059 -0.800120 -0.545248
3  1.450409 -1.966754  0.069083
0 -0.425762  1.645549 -0.807169
1  0.256181 -0.105051 -0.701045
2 -1.466343  0.159097  0.453279

In [14]:
df3.index=range(7)

In [15]:
df3

          A         B         C
0  0.778633  2.870842  1.576515
1  0.409160 -1.203170  1.712594
2 -0.487059 -0.800120 -0.545248
3  1.450409 -1.966754  0.069083
4 -0.425762  1.645549 -0.807169
5  0.256181 -0.105051 -0.701045
6 -1.466343  0.159097  0.453279

In [16]:
df4=pd.concat([df1,df2],axis=1)

In [17]:
df4

          A         B         C         A         B         C
0  0.778633  2.870842  1.576515 -0.425762  1.645549 -0.807169
1  0.409160 -1.203170  1.712594  0.256181 -0.105051 -0.701045
2 -0.487059 -0.800120 -0.545248 -1.466343  0.159097  0.453279
3  1.450409 -1.966754  0.069083       NaN       NaN       NaN

In [22]:
df4=pd.DataFrame(df4,columns=list("ADCDEF"))

ValueError: cannot reindex from a duplicate axis