In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
df=pd.DataFrame(np.random.randn(5,3),
               index=list(range(1,6)),
               columns=list("ABC"))

In [7]:
df

          A         B         C
1 -1.850055 -1.813984 -1.966280
2 -0.486997 -2.058421 -0.426689
3 -1.409139  2.767942 -1.434493
4  0.476943  0.516226 -0.063115
5 -1.078223 -1.735225 -0.452206

In [8]:
df[df.B>0]

          A         B         C
3 -1.409139  2.767942 -1.434493
4  0.476943  0.516226 -0.063115

In [9]:
df[df.B>0]["C"]=0

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
df

          A         B         C
1 -1.850055 -1.813984 -1.966280
2 -0.486997 -2.058421 -0.426689
3 -1.409139  2.767942 -1.434493
4  0.476943  0.516226 -0.063115
5 -1.078223 -1.735225 -0.452206

In [11]:
df.loc[2:3,"B":"C"]

          B         C
2 -2.058421 -0.426689
3  2.767942 -1.434493

In [12]:
df.loc[2,"B"]

-2.058421356360899

In [13]:
df.loc[2,"B"]=1

In [14]:
df

          A         B         C
1 -1.850055 -1.813984 -1.966280
2 -0.486997  1.000000 -0.426689
3 -1.409139  2.767942 -1.434493
4  0.476943  0.516226 -0.063115
5 -1.078223 -1.735225 -0.452206

In [15]:
df.loc[df.B>0,"C"]=0

In [16]:
df

          A         B         C
1 -1.850055 -1.813984 -1.966280
2 -0.486997  1.000000  0.000000
3 -1.409139  2.767942  0.000000
4  0.476943  0.516226  0.000000
5 -1.078223 -1.735225 -0.452206